/*domuntos css*/
* { margin: 0 ;}

body {font-family: "milsh";}

/*Encabezado*/

h1 { background-color: aqua; 
        text-align: center;}

h2 {padding: 8px 0px;}

/*LAYIUT*/
.cabecera {padding: 16px 0px 16px;
            background-color: blue;} 

            .listas { margin: 16px auto;
                padding: 16px;
                width: 70;
                 background-color:#860090;}

                 .contenido { width: 70px;
                margin: 16px auto;}

            .contenido p {line-height: 140%;
                         padding: 16px 0px; }
                 
