/*Documento CSS*/
* {margin: 0px;
    padding: 0px;}

    body {font-family: "Big Shoulders", sans-serif;
    background-color: #00ffff !important;}

    h1 { }

    h2 { padding-bottom: 8px;}

    .cabecera {min-height: 80px;
               border-bottom: 2px solid black;
               }

    .cuerpo { width: 100%;}



    .container {width: 80%;
                padding-top: 80px;
                margin: 0px auto;
                display: flex;}

    /*section.cuerpo.container.items p { font-size: 1.3en;}*/
    .container.i p { font-size: 1.3en;
                    padding-bottom: 16px;}

    .items {width: 50%;
            padding: 16px;
            box-sizing: border-box;}

            /*box-sizing: border-box*/

    .items input, textarea {width: 100%;
                   padding: 8px;
                  margin-bottom: 8px;}

textarea {max-width: 100%;
           min-width: 100%;
           min-height: 120px;
           max-height: 120px;}


.items a {display: block;
          width: 120px;
          padding: 8px;
          border-radius: 8px;
          background-color: #a52a2a;
          background: rgb(119,1,1);
          background: linear-gradient(90deg, rgba(119,1,1,1) 0%, rgba(121,23,9,1) 35%, rgba(222,0,255,1) 100%);
         text-align: center;
         color: chocolate;
         text-decoration: none;}

.items a:hover {backround-color: #251400;}
.items a:active {background-color: black;}


.container.btn {width: 120px;}

#btn {width: 120px;}

.items input::placeholder,textarea::placeholder {color: #fcd085;}

.container::before, .container::after {content: "Hola";
                     display: block;
                     width: 60px; 
                     height: 60px;
                     background: url(../IMG/envelope-check-fill.svg);
                     background: no-repeat;
                     background-size: 100% 100%;
                     position: relative;
                     top: -30px;
                     left: -30px;}

div.container::after {position: relative !important;
                      top:230px !important;
                      left:50px !important;}